# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [1]:
import pandas as pd
df_airbnb = pd.read_csv("./src/airbnb.csv")

In [6]:
df_airbnb.head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
5,29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
6,29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
7,29891,128792,Entire home/apt,Misericórdia,28,5.0,3,1.0,49.0
8,29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0
9,33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0

In [3]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

## Usando Pandas

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [12]:
# Consejo: para mostrar 3 alternativas emplee head(3)

# condiciones del problema
condition = ((df_airbnb['reviews'] >10) & (df_airbnb['overall_satisfaction'] >4))
condition_2 = ((df_airbnb['accommodates']==4) & (df_airbnb['bedrooms']==3))

df_filter = df_airbnb[condition]
df_filter = df_airbnb[condition_2]

# ordenamiento
df_order = df_filter.sort_values(['overall_satisfaction', 'reviews'], ascending=[False, False])

# top 3 
df_order.head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
1865,2777355,14204351,Entire home/apt,Estrela,89,5.0,4,3.0,58.0
4100,6408578,33201646,Entire home/apt,Misericórdia,86,5.0,4,3.0,75.0
1153,1374173,2635324,Entire home/apt,Santa Maria Maior,56,5.0,4,3.0,93.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [5]:
!pip install openpyxl

import pandas as pd

df_airbnb = pd.read_csv("./src/airbnb.csv")

df_roberto_clara = df_airbnb[df_airbnb['room_id'].isin([97503, 90387])]

df_roberto_clara.head()

# Guardamos el dataframe como excel llamado roberto.xls
df_roberto_clara.to_excel("roberto.xlsx", index=False)

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 3.9 MB/s eta 0:00:0000:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.3 -> 23.3.1
[notice] To update, run: python -m pip install --upgrade pip


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [9]:

df_filtr_diana = df_airbnb[(df_airbnb['room_type'] == 'Shared room') & (df_airbnb['price']<= 50)]

# Ordenamos las habitaciones compartidas con puntuacion descendente
df_order_diana = df_filtr_diana.sort_values(by='overall_satisfaction', ascending=False)

# Filtramos las 10 mejores
df_order_diana.head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
6527,11523225,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,23.0
6056,10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
7932,13570032,78249982,Shared room,Misericórdia,8,5.0,10,1.0,48.0
7552,13078189,72524317,Shared room,Ajuda,7,5.0,2,1.0,21.0
7313,12826411,6981742,Shared room,Alvalade,12,5.0,1,1.0,22.0
7312,12826213,6981742,Shared room,Alvalade,19,5.0,1,1.0,22.0
3727,5803348,29676067,Shared room,Misericórdia,19,5.0,9,1.0,20.0
3663,5725814,29676067,Shared room,Misericórdia,23,5.0,6,1.0,21.0
7066,12305540,66077974,Shared room,Arroios,40,5.0,1,1.0,13.0
8918,14719962,40574313,Shared room,Avenidas Novas,4,5.0,4,1.0,13.0